footer
  a
    color: $white

  background-color: blue

  display: flex
  flex-direction: row
  justify-content: space-around
  margin-bottom: auto

  .wrapper
    .social
      text-align: left

    .nav
      text-align: right


/* <footer>
  <div class="wrapper">
    <div class="social">
      <a href="" class="twitter">twitter</a>
      <a href="" class="github">github</a>
    </div>
    <div class="nav">
      <a href="" class="home">home</a>
      <a href="" class="back">back</a>
      <a href="" class="sitemap">sitemap</a>
    </div>
  </div> </footer> */
