---
---

$white: #f5fdff
$blue: #3498db
$red: #e74c3c
$green: #2ecc71
$black: #11181e


@import "header.sass"
@import "post.sass"
@import "home.sass"

@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700)
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css)

body
  margin: 0
  font-family: Menlo, 'Inconsolata', monospace
  color: $black

.cf:before, .cf:after
  content: ""
  display: table

.cf:after
  clear: both

a
  text-decoration: none
  color: $blue
  &:hover
    text-decoration: underline

em
  color: $red

h2
  margin-left: -20px

section
  margin: auto 20%
