.post_nav
  a
    text-decoration: none
    color: $blue
    // border:

    &:hover
      text-decoration: underline

  margin-bottom: 20px

  div.back
    float: left
    margin-left: 20%

  div.next_prev
    float: right
    margin-right: 20%

    a.next
      margin-left: 20px

section#post
  p::first-letter
    -webkit-initial-letter: 3
    initial-letter: 3
    color: $green
    margin-right: .5em
